.buttonList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.filter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 15px 25px;
  background-color: rgb(255, 227, 219);
  color: #000000;
  border-radius: 45px;
  box-shadow: 11px 5px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.filter:hover {
  background-color: rgb(200, 176, 169);
  /* color: white; */
}

.activeFilter {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 45px;
  box-shadow: 11px 5px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  color: white;
}
