.pageHeader {
  display: flex;
  height: 30vh;
  flex-direction: column;
  background: url('../../assets/book1.jpg') no-repeat;
  background-size: cover;
  background-position: 10% 90%;
}

.info {
  padding-left: 13vw;
  padding-bottom: 70px;
  backdrop-filter: blur(10px);
}
.possibilities {
  margin-left: 11vw;
}

.homeHeader {
  font-weight: 800;
  font-size: 2.2em;
  margin-bottom: 35px;
}
.possibilitiesHeader {
  font-weight: 800;
  font-size: 2.2em;
  margin-bottom: 35px;
  margin-left: 11vw;
}
.homeText {
  font-size: 1.5em;
  font-weight: 500;
}
.linkButton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin-top: 2vh;
  padding: 15px 25px;
  background-color: #af8c83ff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.featuresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-right: 13vw;
  margin-bottom: 90px;
  margin-left: 11vw;
}

.feature {
  width: 17vw;
  background-color: rgb(224, 179, 167);
  padding: 20px 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
}
.featureHeader {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 25px;
}
.featureText {
  font-size: 1.25em;
  font-weight: 400;
}
